<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <ion-tabs class="tabs-icon-top tabs-striped">
        <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="main.home">
            <ion-nav-view name="main-home"></ion-nav-view>
        </ion-tab>
        <ion-tab title="收藏" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="main.star">
            <ion-nav-view name="main-star"></ion-nav-view>
        </ion-tab>
        <ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" ui-sref="main.setting">
            <ion-nav-view name="main-setting"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</body>
</html>
